* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://balam314.github.io/starfield.png");
	background-color: black;
}

div.content.lightTheme {
	background-color: #e7e7e7;
	color: black;
}

div.content.darkTheme {
	background-color: #272727;
	color: white
}

div.content.lightTheme input {
	box-shadow: inset 0 0 1000px #e7e7e7;
	color: black;
}

div.content.darkTheme input {
	box-shadow: inset 0 0 1000px #272727;
	color: white
}

div.content {
	width: 90vw;
	min-width: 400px;
	min-height: 90vh;
	padding: 2em 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.content h1 {
	margin-inline:auto;
	width: fit-content;
}

div.content ul li {
	padding: 0.5em 1em;
}

div.content input {
	outline: none;
	height: 42px;	
	font-size: large;
	width: 40%;
	min-width: 200px;
}

div.content footer {
	display: block;
	margin-top: auto;
}
button.theme {
	position: relative;
	display: inline;
	margin-left: auto;
	width: 3em;
	background-color: rgb(222, 222, 222);
	height: 3em;
	display: grid;
	place-content: center;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	border: none;
	transition: box-shadow 400ms ease;
}

div.lightTheme button:hover {
	box-shadow: 0 0 7px -1px grey;
}

div.darkTheme button:hover {
	box-shadow: 0 0 19px -1px black;
}

button:active {
	filter:brightness(0.8)
}