* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--light-theme-text: black;
	--light-theme-background: #e7e7e7;
	--dark-theme-text: white;
	--dark-theme-background: #222B;
	--error-color: #d20000;
	--header-text: yellowgreen;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://balam314.github.io/starfield.png");
	background-color: black;
}

div.content.lightTheme {
	background-color: var(--light-theme-background);
	color: var(--light-theme-text);
}

div.content.darkTheme {
	background-color: var(--dark-theme-background);
	color: var(--dark-theme-text);
}

div.content.lightTheme #pasapapor-select {
	background-color: inset 0 0 1000px var(--light-theme-background);
	color: var(--light-theme-text);
}

div.content.darkTheme #pasapapor-select {
	color: var(--dark-theme-text);
	background-color: var(--dark-theme-background);
}

div.content.darkTheme a {
	color: lightblue;
}

div.content.darkTheme a:visited {
	color: #C000C0;
}

div.content.lightTheme #pasapapor-select {
	border: 2px inset ThreeDDarkShadow;
}

div.content {
	width: 90vw;
	min-width: 400px;
	min-height: 90vh;
	padding: 2em 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: large;
	border: ridge blue 4px;
}

div.content ul li {
	padding: 0.3em 1em;
}

#pasapapor-select {
	outline: none;
	height: 42px;	
	font-size: large;
	width: 40%;
	min-width: 200px;
	padding: 5px;
}

#level-select {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: larger;
}

div.content footer {
	display: block;
	margin-top: auto;
}
button.theme {
	position: relative;
	display: inline;
	margin-left: auto;
	width: 3em;
	background-color: rgb(222, 222, 222);
	height: 3em;
	display: grid;
	place-content: center;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	border: none;
	transition: box-shadow 400ms ease;
	grid-column: 3;
}

div.lightTheme button:hover {
	box-shadow: 0 0 7px -1px grey;
}

div.darkTheme button:hover {
	box-shadow: 0 0 19px -1px black;
}

div#errorbox {
	color: var(--error-color);
}

button:active {
	filter:brightness(0.8)
}

#header-text {
	grid-column: 2;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: var(--header-text);
	user-select: none;
}

#header {
	display: grid;
	width: 100%;
	grid-template-columns: 3em minmax(200px, 1fr) 3em;
	margin-bottom: 30px;
}

a {
	color: #00C400 !important;
}
a:hover {
	color: #00EC00 !important;
}
a:active {
	color: #0F0 !important;
}